*{
  box-sizing: border-box;
}

.tweet-container
{
  display: flex;  
  flex-wrap: wrap;
  gap: 15px;
  width: 90%;
  margin: auto;
}


.tweet
{
  position: relative;
  width: fit-content;
  min-width: 310px;
  padding: 10px;
  background-color: rgb(232, 164, 30);
  border: 1px solid grey;
}

.tweet .btnDelete
{
  position: absolute;
  top: 5px;
  right: 5px;
}

.form-tweet fieldset {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
}